// DriverInfo.scss

@import '../../styles/variables';

.driver-info-wrapper {
  display: flex;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
}

.driver-info {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin: auto;
}

.driver-avatar {
  img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid $driver-primary-color;
  }
  margin-bottom: 20px;
}

.driver-info-content {
  width: 100%;
  padding-left: 20px;
}

.driver-info-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
  .driver-avatar {
    margin-right: 20px;
  }
  h3 {
    color: $text-color-dark;
    font-size: 1.5rem;
    margin: 0;
    flex-grow: 1;
  }
}

.button-container {
    display: flex;
    flex-direction: column; // Stack the buttons on top of each other
    align-items: stretch; // Stretch buttons to fill the width
    width: 100%;
    margin-top: 20px;
  
    .info-button,
    .edit-button {
      background-color: $driver-primary-color;
      color: white;
      border: none;
      border-radius: 20px;
      padding: 15px 30px;
      cursor: pointer;
      font-size: 1rem;
      text-transform: uppercase;
      font-weight: bold;
      transition: all 0.3s ease;
      margin-bottom: 10px; // Add space between buttons
  
      &:hover {
        background-color: darken($driver-primary-color, 15%);
      }
    }
  }

.driver-details {
  text-align: left;
  width: 100%;
  p {
    font-size: 1rem;
    color: $text-color-light;
    margin: 10px 0;
  }
  strong {
    color: $text-color-dark;
  }
}

// Additional styles for the buttons within .post-request-buttons
.post-request-buttons {
    display: flex;
    justify-content: space-between; // This ensures there is space between the buttons
    width: 100%; // This ensures the container takes the full width
  
    .info-button {
      width: calc(50% - 10px); // Adjust the width of each button to take half of the container minus the gap
      margin-bottom: 10px; // Space between the buttons and the content below
    }
  }
  
  @media (max-width: 768px) {
    // In a small screen, if you want the buttons to stack
    .post-request-buttons {
      flex-direction: column;
  
      .info-button {
        width: auto; // Allow buttons to fill the space
        margin-bottom: 10px;
      }
  
      .my-posts, .join-requests {
        width: 100%; // Take the full width on small screens
      }
    }
  }
  