// DriverEditPopup.scss
@import '../../styles/variables';

.edit-popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.edit-popup-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  width: 90%;
  max-width: 400px;

  label {
    display: block;
    margin-top: 10px;
    color: $text-color-dark;
  }

  input[type="text"],
  input[type="email"],
  input[type="file"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0 15px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .edit-popup-actions {
    display: flex;
    justify-content: center;
    gap: 20px;
  }

  .edit-popup-button {
    cursor: pointer;
    padding: 10px 20px;
    background-color: $driver-primary-color;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 15px;

    &:hover {
      background-color: darken($driver-primary-color, 10%);
    }
  }
}
