// _variables.scss

// Driver 
$driver-primary-color: #e9b93f;
$driver-secondary-color: #db4437;
$driver-background-color: #f3db9f;
$driver-hover-color: #d8a04c;

// Passenger
$passenger-primary-color: #0e9aa7;
$passenger-secondary-color: #f6cd61;
$passenger-hover-color: #0c7c8a; 

// Shared between driver and passenger 
$text-color-light: #666;
$text-color-dark: #333; 
$button-font-size: 14px;