* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* This ensures padding doesn't affect the total width/height of elements */
} 

/* src/driver/initiateRide.css */
.initiate-ride-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.initiate-ride-form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    width: 100%;
}

.initiate-ride-form input,
.initiate-ride-form textarea {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.initiate-ride-form button {
    padding: 10px 20px;
    background-color: #007bff; /* Adapt the color to match your app's theme */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

.initiate-ride-form button:hover {
    background-color: #0056b3; /* Darker shade for hover effect */
}