/* Part of this file was leveraged from GPT */ 
@import '../../../styles/variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; // This ensures padding doesn't affect the total width/height of elements
}

.initiate-ride-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    color: $text-color-dark;

    .initiate-ride-form {
        display: flex;
        flex-direction: column;
        max-width: 500px;
        width: 100%;

        input,
        textarea {
            padding: 10px;
            margin-bottom: 15px;
            border: 1px solid #ccc;
            border-radius: 5px;
            color: $text-color-light;
            font-family: 'Arial', sans-serif;
        }

        // Driver button
        .driver-button {
            padding: 10px 20px;
            background-color: $driver-primary-color; 
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 1rem;

            &:hover {
                background-color: $driver-hover-color; 
            }
        }

        // Passenger button
        .passenger-button {
            padding: 10px 20px;
            background-color: $passenger-primary-color; 
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 1rem;

            &:hover {
                background-color: $passenger-hover-color; 
            }
        }
    }
}
