/* SuccessPopup.scss */
@import '../../styles/variables';
.success-popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure it's above other content */
}

.success-popup-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  width: 90%;
  max-width: 400px; 
}

.h2 {
  padding: 5px;
}

.success-popup-actions {
  display: flex;
  justify-content: center; 
  gap: 20px; 
}

.success-popup-button {
  cursor: pointer;
  padding-left: 10px;
  padding-right: 10px; 
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: $passenger-primary-color;
  color: white;
  border: none;
  border-radius: 5px;
  margin-top: 15px;
  margin-bottom: 5px;
  &:hover {
    background-color: $passenger-hover-color;
  }
}
.success-popup-actions .success-popup-button:not(:last-child) {
  margin-right: 20px;
}