@import '../../../styles/variables';

.DriverProfile {
  margin: 0 auto; /* Center the content horizontally */
  max-width: 800px; /* Set max-width for the content */
  padding: 20px; /* Add padding to ensure some space on the left and right */
}

.ProfileLayout {
  display: flex;
  align-items: flex-start; /* Align items at the start of the container */
}

.driver-avatar {
  text-align: center; /* Center the button below the avatar */
}

.edit-button {
  display: block; /* Ensure the button is a block-level element to occupy its own line */
  margin-top: 10px; /* Space above the button */
  background-color: $driver-primary-color; /* Use driver primary color */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 8px 10px;
  font-size: 1rem;
}

.driver-info-header {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  width: 100%; 
}

/* If using the edit-popup in DriverInfo similar to PassengerInfo */
.edit-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  z-index: 2;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.edit-popup form label, 
.edit-popup form input[type="text"],
.edit-popup form input[type="email"],
.edit-popup form input[type="file"],
.edit-popup form button {
  display: block;
  width: 100%;
  margin-top: 5px;
}

.edit-popup form button {
  margin-top: 10px;
}
