/* JoinReqPopup.scss */
/* Part of this file was leveraged from GPT */ 
@import '../../styles/variables';
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; // Ensure it's above other content
}

.popup-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  width: 90%;
  max-width: 400px;
}

// Common style for both textarea and input
.input-common {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-family: 'Arial', sans-serif;
  font-size: 14px;
  line-height: 1.5;
  // Input specific
  &:not(textarea) {
    resize: none;
  }
  // Textarea specific
  &.popup-textarea {
    resize: vertical;
    min-height: 80px;
  }
}

.popup-actions {
  display: flex;
  justify-content: space-between; // Ensure buttons are spread out
  button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
    // Specific styles for different buttons if needed
    &.popup-button {
      cursor: pointer;
      padding-left: 10px;
      padding-right: 10px; 
      padding-top: 5px;
      padding-bottom: 5px;
      background-color: $passenger-primary-color;
      color: white;
      border: none;
      border-radius: 5px;
      margin-top: 15px;
      margin-bottom: 5px;
      &:hover {
        background-color: $passenger-hover-color;
      }
  }
}
}

.h2 {
  padding: 5px;
}

.popup-actions {
  display: flex;
  justify-content: center; 
  gap: 20px; 
}

// .popup-button {
//   cursor: pointer;
//   padding-left: 10px;
//   padding-right: 10px; 
//   padding-top: 5px;
//   padding-bottom: 5px;
//   background-color: $passenger-primary-color;
//   color: white;
//   border: none;
//   border-radius: 5px;
//   margin-top: 15px;
//   margin-bottom: 5px;
//   &:hover {
//     background-color: $passenger-hover-color;
//   }
// }

.secondary-popup-button {
  cursor: pointer;
  padding-left: 10px;
  padding-right: 10px; 
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: $passenger-secondary-color;
  color: white;
  border: none;
  border-radius: 5px;
  margin-top: 15px;
  margin-bottom: 5px;
  &:hover {
    background-color: darken($passenger-secondary-color, 10%);
  }
}

.highlight-popup-button {
  cursor: pointer;
  padding-left: 10px;
  padding-right: 10px; 
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: $passenger-highlight-color;
  color: white;
  border: none;
  border-radius: 5px;
  margin-top: 15px;
  margin-bottom: 5px;
  &:hover {
    background-color: darken($passenger-highlight-color, 10%);
  }
}

.popup-actions .popup-button:not(:last-child) {
  margin-right: 20px;
}