/* JoinReqPopup.scss */
@import '../../styles/variables';
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure it's above other content */
}

.popup-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  width: 90%;
  max-width: 400px; 

  .popup-textarea {
    width: 100%; // Makes the textarea take up the full width of its parent
    padding: 10px; // Adds some padding inside the textarea for better text visibility
    margin-top: 20px; // Adds margin at the top for spacing from previous elements
    margin-bottom: 20px; // Adds margin at the bottom before action buttons
    border-radius: 4px; // Gives the textarea slightly rounded corners
    border: 1px solid #ccc; // Sets a light border for the textarea
    font-family: 'Arial', sans-serif; // Ensures the font inside the textarea matches your design
    font-size: 14px; // Sets a readable default font size
    line-height: 1.5; // Adjusts the line height for better readability
    resize: vertical; // Allows the user to resize the textarea vertically
    min-height: 80px; // Sets a minimum height so there's enough room to type a message
  }
  
}

.h2 {
  padding: 5px;
}

.popup-actions {
  display: flex;
  justify-content: center; 
  gap: 20px; 
}

.popup-button {
  cursor: pointer;
  padding-left: 10px;
  padding-right: 10px; 
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: $passenger-primary-color;
  color: white;
  border: none;
  border-radius: 5px;
  margin-top: 15px;
  margin-bottom: 5px;
  &:hover {
    background-color: $passenger-hover-color;
  }
}

.secondary-popup-button {
  cursor: pointer;
  padding-left: 10px;
  padding-right: 10px; 
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: $passenger-secondary-color;
  color: white;
  border: none;
  border-radius: 5px;
  margin-top: 15px;
  margin-bottom: 5px;
  &:hover {
    background-color: darken($passenger-secondary-color, 10%);
  }
}

.highlight-popup-button {
  cursor: pointer;
  padding-left: 10px;
  padding-right: 10px; 
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: $passenger-highlight-color;
  color: white;
  border: none;
  border-radius: 5px;
  margin-top: 15px;
  margin-bottom: 5px;
  &:hover {
    background-color: darken($passenger-highlight-color, 10%);
  }
}

.popup-actions .popup-button:not(:last-child) {
  margin-right: 20px;
}