/* Part of this file was leveraged from GPT */ 
@import '../../styles/variables';

.passenger-info {
    display: flex; 
    margin-bottom: 20px; 
    margin-top: 20px;
}

.passenger-avatar {
    margin-right: 50px; 
    justify-content: center;
    align-items: center;
    align-items: center;
}

.passenger-avatar img {
    width: 100px; 
    height: 100px; 
    border-radius: 50%; 
}

.passenger-details {
    display: flex; 
    flex-direction: column; 
    justify-content: space-around; 
    text-align: left;
}

.passenger-info-header {
    margin-bottom: 10px;
}

.edit-button {
    display: block;
    place-items: center;

    margin-top: 10px;
    
    background-color: $passenger-secondary-color;
    color: white;
    padding: 8px 15px;
    border: none; 
    border-radius: 5px;

    text-decoration: none;
    font-size: $button-font-size; 


    &:hover {
        background-color: darken($passenger-secondary-color, 10%);
    }
}
  