/* Part of this file was leveraged from GPT */ 
@import '../../../styles/variables';

.PostPage {
  margin: 0 auto; 
  max-width: 800px; 
  padding: 0 20px; 

  h2 {
    text-align: center; 
  }

  .post-details {
    margin-top: 20px;
    color: $text-color-dark;
  }

  .p-join-container {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    margin-top: 10px;
  }

  .join-button {
    cursor: pointer;
    padding: 10px;
    background-color: $passenger-primary-color;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: $button-font-size; 

    &:hover {
      background-color: $passenger-hover-color;
    }
  }

  .cancel-button {
    cursor: pointer;
    padding: 10px;
    background-color: $passenger-secondary-color;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: $button-font-size; 

    &:hover {
      background-color: darken($passenger-secondary-color, 10%);
    }
  }

  .cancel-button {
    cursor: pointer;
    padding: 10px;
    background-color: $passenger-secondary-color;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: $button-font-size; 

    &:hover {
      background-color: darken($passenger-secondary-color, 10%);
    }
  }

  .accepted-button {
    cursor: pointer;
    padding: 10px;
    background-color: $passenger-highlight-color;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: $button-font-size; 

    &:hover {
      background-color: darken($passenger-highlight-color, 10%);
    }
  }

  .post-content {
    margin-top: 20px;
    color: $text-color-light;
  }

  .p-button-container{
    display: block;
    text-align: ccenter;
  }

  .button-text {
    color:$passenger-primary-color;
    font-size: $button-font-size;
    font-weight: bold;
  }
}
