.user-info {
    display: flex; /* Use flexbox for layout */
    align-items: center; /* Align items vertically */
    margin-bottom: 20px; /* Add some space between user info and post details */
    margin-top: 20px;
}

.user-avatar {
    margin-right: 20px; /* Add space between avatar and user details */
}

.user-avatar img {
    width: 50px; /* Set width for the avatar image */
    height: 50px; /* Set height for the avatar image */
    border-radius: 50%; /* Make the avatar image round */
}

.user-details {
    display: flex; /* Use flexbox for layout */
    flex-direction: column; /* Stack flex items vertically */
    justify-content: space-around; /* Distribute space around items */
    text-align: left;
}

/* Remove user-info-header or adjust if necessary */
.user-info-header {
    margin-bottom: 10px; /* If you want to keep some space between header and details */
}
