
/* WelcomePage.css */
.welcome-container {
    height: 100vh;
    background-color: #263025; /* Dark background */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
  }
  
  .welcome-container::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url('./logo.png');
    background-size: cover;
    opacity: 0.5; /* Almost see-through */
  }
  
  .welcome-content {
    position: relative;
    z-index: 1; /* Ensure the text appears above the background image */
    color: white;
    text-align: center;
    max-width: 600px; /* Adjust the width as needed */
  }
  
  .welcome-content h1 {
    font-size: 3rem; /* Larger text */
    margin-bottom: 0.5em;
  }
  
  .welcome-content p {
    font-size: 1.5rem; /* Larger text */
    margin-bottom: 1em;
  }
  
  .welcome-login-button {
    background-color: #fab300; /* Stylish button color */
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1.2rem;
    transition: background-color 0.3s;
  }
  
  .welcome-login-button:hover {
    background-color: #05c19a; /* Darker shade on hover */
  }
  