/* Post.css */
.post {
  background-color: #f9f9f9;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.post-title {
  text-align: center;
  margin-bottom: 10px; /* Adjust spacing between title and details */
  font-size: 24px; /* Set the font size to the original size */
  font-weight: bold; 
  color: #666; 

}

.post-details {
  margin-bottom: 10px; /* Adjust spacing between details and content */
}

.post-details p {
  text-align: left;
  margin-bottom: 5px; /* Adjust spacing between paragraphs */
}

.post-content {
  text-align: left;
  color: #666; /* Adjust content text color */
}
