/* PostPage.css */

.PostPage {
    margin: 0 auto ; /* Center the content horizontally */
    max-width: 800px; /* Set max-width for the content */
}
  
.post-content {
    margin: 0 auto; /* Add margin to the post content */
}
.user-info {
    display: flex; /* Use flexbox for layout */
    align-items: center; /* Center items vertically */
    margin-bottom: 20px; /* Add some space between user info and post details */
}

.user-avatar {
    margin-right: 20px; /* Add space between avatar and user details */
}

.user-avatar img {
    width: 50px; /* Set width for the avatar image */
    height: 50px; /* Set height for the avatar image */
    border-radius: 50%; /* Make the avatar image round */
}

.user-details {
    flex: 1; /* Take remaining space */
}

.post-details,
.post-content {
    margin-bottom: 20px; /* Add space between post details and post content */
}

.post-details h2 {
    text-align: center; /* Center the post title */
}

.user-info-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

.edit-container {
    display: flex;
    justify-content: center; /* Centers the button horizontally */
    align-items: center; /* Centers the button vertically */
}

.edit-button {
    background-color: #0e9aa7;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 8px 15px;
    cursor: pointer;
    font-size: 1rem;
}