/* Part of this file was leveraged from GPT */ 

.user-info {
    display: flex; 
    align-items: center; 
    margin-bottom: 20px; 
    margin-top: 20px;
}

.user-avatar {
    margin-right: 20px;
    margin-top: 25px;
}

.user-avatar img {
    width: 70px; 
    height: 70px; 
    border-radius: 50%; 
}

.user-details {
    display: flex; 
    flex-direction: column; 
    justify-content: space-around; 
    text-align: left;
}

.user-info-header {
    margin-bottom: 10px;
}
